@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://www.todofondos.net/wp-content/uploads/1920x1080-Fondo-de-pantalla-de-flores-blancas.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #f6ecf7;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #c2b6e0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.todo-input::placeholder {
  color: rgba(0, 0, 0, 0.302);
}

.todo-btn {
  background: #8758ff;
  color: #000000;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.Check {
  border: 10px solid #c2b6e0;
  border-radius: 5px;
}

.delete {
  margin-left: 0.75rem;
}

.Edit {
  margin-right: 0.75rem;
}
